<aside class="author">
  <img class="profile-image" src="{{ .Site.BaseURL }}{{ .Site.Params.avatar }}" alt="{{ .Site.Params.site_author }}" />
  <p class="name">{{ .Site.Data.l10n.author.by }} 
  <strong>{{ .Site.Params.site_author }}</strong></p>
  <p class="address">{{ .Site.Params.location }}</p>
  <p class="link"></p>
  <ul class="social">
    {{ partial "social" . }}
  </ul>
 <p class="badge">
  <a href="https://geo.itunes.apple.com/us/podcast/the-personalization-podcast/id1073005980?mt=2" style="display:inline-block;overflow:hidden;background:url(http://linkmaker.itunes.apple.com/images/badges/en-us/badge_itunes-lrg.svg) no-repeat center;width:165px;height:40px;"></a>
 </p>
   <p class="badge">
  </p>
  <iframe allowtransparency="true" scrolling="no" frameborder="no" src="https://w.soundcloud.com/icon/?url=http%3A%2F%2Fsoundcloud.com%2Fpersonalizationpodcast&color=orange_white&size=48" style="width: 48px; height: 48px;"></iframe>
  <br><br>
</aside>
